<div class="home-container">
    <div class="content">
        <div class="flex-container">
            <div class="text-container">
                <h1>Welcome to the Pokédex API</h1>
                <p>Discover the world of Pokémon with our comprehensive Pokédex API, meticulously crafted using FastAPI and Angular. Dive into detailed information about each Pokémon, including their types, powers, and more.</p>
                <p>Explore the vast collection of Pokémon by browsing through our user-friendly navigation bar or dive deeper into the details of each Pokémon.</p>
            </div>
            <div class="image-container">
                <img src="/assets/charmander.png" alt="Charmander" class="pokemon-image">
            </div>
        </div>
    </div>
</div>
