<div class="container">
    <div class="row">
      <div class="col" *ngFor="let pokemon of pokemons">
        <div class="card">
          <img [src]="pokemon.image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ pokemon.id }} - {{ pokemon.name }}</h5>
            <p class="card-text">Type: {{ pokemon.type }}</p>
            <p class="card-text">Power: {{ pokemon.power }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  