.export-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1b1b1b;
    color: #f8f9fa;
    text-align: center;
}

.content {
    max-width: 800px;
    padding: 20px;
    border: 2px solid #ffcb05;
    border-radius: 10px;
    background-color: #2c2c2c;
}

p {
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    margin-bottom: 15px;
}
